.container-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

input {
    display: block;
    margin: 0.5rem;
}